
:root {
  --font-size: 16px;
}


/* Defults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: deltarune;
}
body {
  background-color: black;
  overflow-x: hidden;
}

/* .ttf font import */
@font-face {
  font-family: deltarune;
  src: url(Assets/Fonts/undertale-deltarune-text-font-extended.ttf);
}

@font-face {
  font-family: deltarune2;
  src: url(Assets/Fonts/deltarune.ttf);
}


/* disables scroll */
.no-scroll {
  overflow: hidden;
}

/* makes image fit the parent div */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* hides the scrollbar */
::-webkit-scrollbar {
  display: none;
}



/* Navigation CSS */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 10vh;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #342DB5 20%);
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-btn {
  height: 100%;
  width: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}
.nav-btn a:hover {
  color: rgb(143, 29, 0);
}
.nav-btn a{
  color: white;
  text-decoration: none;

  transition: all 1s;
}
.nav-btn span a{
  font-family: deltarune2;
  font-size: 2rem;
}
/* logo css */
.logo {
  position: fixed;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 5;
}
.logo-text {
  background-color: transparent;
  font-family: deltarune2;
}
/* NAVIGATION CSS END */




/* CASTLE CSS */
/* container div */
.container {
  width: 100%;
  height: 100%;
}
.castle {
  position: fixed;
  top: 0;
  width: 100%;
  height: 125vh;
  z-index: 1;
  overflow: hidden;
}
.door {
  position: absolute;
  left: 50%;
  width: 100%;
  height: 125vh;
  overflow: hidden;
  transform: translate(-50%, -101.1% );
  display: flex;
}
.laser {
  box-shadow: 0 60px 80px 0px black inset;
  position: absolute;
  left: 50%;
  width: 15%;
  height: 50vh;
  overflow: hidden;
  transform: translate(-50%, -262.3% );
  z-index: 1;
}
.gradient {
  position: fixed;
  left: 50%;
  width: 100%;
  height: 10vh;
  transform: translate(-50%, 0);
  z-index: 2;
  background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 0, 0));
}
/* Castle CSS End */




/* Landing page */
.landing-page {
  width: 100%;
  height: 100vh;
  background: url("Assets/BG/village-dark.gif.gif");
  background-size: cover;
  background-position: center;
  box-shadow: 0 60px 80px 0px black inset;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.video-title {
  color: white;
}
/* Video CSS */
.video-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#trailer {
  width: 65%;
  border: white solid 5px;
}
.custom-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 104px;
  cursor: pointer;
  padding: 20px;
  border: #ffffff solid 5px;
  border-radius: 20%;
  background-color: black;
  font-family: deltarune2;
  z-index: 1;
}
/* Video CSS END */



/* blasters */
.blaster-container {

  position: absolute;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.blaster {
  position: absolute;
  width: 250px;
  height: auto;
  mix-blend-mode: screen;
  z-index: 20;
}
#blaster1 {
  transform: translateY(100%);
}
/* BLASTER END */



/* About section */
.about-wrapper {
  margin-top: 25vh;
  position: relative;
  width: 120%;
  height: 100vh;
  margin-left: -10%; 
  overflow: hidden; 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.about {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 90%, rgba(0,0,0,1) 100%);
  position: relative;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.about .text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
}
.about .text p {
  color: black;
  font-size: 1.6rem;
  width: 80%;
}
.img-container {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container img {
  height: 80%;
  width: auto;
}
/* ABOUT SECTION END */




/* /* FEATURING */
.featuring {
  margin-top: 50vh;
  width: 100%;
  height: 80vh;
  background: gray;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-size: cover; 
  background-position: center; 
}
.featuring .boxing /*I wrote boxing because box is taken*/ {
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.featuring .title {
  font-size: 2rem;
  color: white;
  transform: translateY(-25vh);
}
.featuring .list {
  text-align: justify;
  list-style: disc;
  margin: 0px 5vh;
  height: auto;
  width: 70%;
  color: #fff;
}
/* arrows */
.featuring .boxing .prev-arrow,
.featuring .boxing .next-arrow {
  font-size: 3rem;
  color: white;
  cursor: pointer;
}
.featuring .boxing .prev-arrow {
  margin-right: 20px; 
}
.featuring .boxing .next-arrow {
  margin-left: 20px;
}
.highlighted {
  color: red; 
}
/* feature end */



/* kris-susie running */
.run {
  position: absolute;
  width: auto;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.run img {
  height: 100%;
  width: auto;
}
/* running end */



/* animation css */
.animation-container {
  color: white;
  background-color: black;
  height: 700vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}
.animation-container .text {
  font-size: 5rem;
}
.animation-container .text1 {
  position: relative;
  z-index: 1;
  transform: translate(-50%, -20%);
}
.animation-container .text2 {
  position: relative;
  z-index: 1;
  transform: translate(50%, -20%);
}
.animation-container .fight .text3 {
  transform: translateX(25vw);
  opacity: 0;

  position: absolute;
  z-index: 1;
}
.animation-container .fight .text4 {
  opacity: 1;
  position: absolute;
  z-index: 0;
}
.animation-container .fight {
  position: relative;
  width: 50vh;
  z-index: 3;

  display: flex;
  justify-content: center;
  align-items: center;
}
.animation-container .mercy {
  transform: translateX(50vw);

  position: absolute;
  width: 50vh;
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;
}
/* images */
.animation-container .frame {
  position: absolute;
}
.animation-container .frame #image1 {
  opacity: 0;
  width: 50vw;
  height: auto;

  transform: translate(50%, 500%);
}
.animation-container .frame #image2 {
  opacity: 0;

  width: 50vw;
  height: auto;

  transform: translate(50%, 700%);
}
.animation-container .frame #image3 {
  opacity: 0;

  width: 35vw;
  height: auto;

  transform: translate(70%,700%);
}
.animation-container .frame #image4 {
  opacity: 0;
  width: 100%;
  height: auto;
  transform: translateY(670%);
}
/* ANIMATION CSS END */




/* DOWNLOAD SECTION */
.download-section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Background */
.download-section .background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

/* Buttons */
.download-buttons {
  display: flex;
  gap: 1rem;

  position: relative;
  transform: translateY(150%);
}

.download-buttons .button {
  padding: 1rem;
  background: #00000055;
  color: #ffffff;
  border: white solid 3px;
  text-align: center;
  font-size: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}
.download-buttons .button:hover {
  transform: scale(1.05);
}

.download-buttons .button:active {
  transform: scale(0.95);
}
/* DOWNLOAD CSS END */



p {
  color: white;
  font-size: 20px;
}

footer {
  background-color: blue;
  width: 100%;
  height: 50vh;
}

.whitespace {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.whitespace2 {
  width: 100%;
  height: 50vh;
}

.whitespace3 {
  width: 100%;
  height: 25vh;
}

.whitespace4 {
  width: 100%;
  height: 15vh;
}

.whitespace5 {
  width: 100%;
  height: 10vh;
}