
:root {
  --main-color: #000000;
  --secondary-color: #ffffff;
  --font-size: 16px;
}


/* Defults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: deltarune;
}
body {
  background-color: black;
  overflow-x: hidden;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* hides the scrollbar */
/* ::-webkit-scrollbar {
  display: none;
} */

/* .ttf font import */
@font-face {
  font-family: deltarune;
  src: url(Assets/Fonts/undertale-deltarune-text-font-extended.ttf);
}

@font-face {
  font-family: deltarune2;
  src: url(Assets/Fonts/deltarune.ttf);
}





/* nav {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 10vh;
  background: linear-gradient(180deg, rgba(255,255,255,1) 70%, rgba(0,0,0,0) 100%);z-index: 5;
  display: flex; 
  justify-content: center;  
  align-items: center; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 90%;
  display: flex; 
  justify-content: space-between;
}

nav ul li {
  font-size: 1.5rem;
  margin: 0px 10px;
  color: black;
}
nav ul li span{
  background-color: red;
  width: 10vh;
} */




/* logo css */
.logo {
  position: fixed;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 5;
}
/* container div */
.container {
  width: 100%;
  height: 100%;
}
/* castle css */
.castle {
  position: fixed;
  top: 0;
  width: 100%;
  height: 125vh;
  z-index: 1;
  overflow: hidden;
}
.door {
  position: absolute;
  left: 50%;
  width: 100%;
  height: 125vh;
  overflow: hidden;
  transform: translate(-50%, -101.1% );
  display: flex;
}
.laser {
  box-shadow: 0 60px 80px 0px black inset;
  position: absolute;
  left: 50%;
  width: 15%;
  height: 50vh;
  overflow: hidden;
  transform: translate(-50%, -262.3% );
  z-index: 1;
}
.gradient {
  position: fixed;
  left: 50%;
  width: 100%;
  height: 10vh;
  transform: translate(-50%, 0);
  z-index: 2;
  background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 0, 0));
}
/* Stars */
.stars {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 3;
  overflow: hidden;
}
/* individual stars*/
.star1 {
    height: 40px;
    width: 40px;
  transform: translate(13vh, 38vh );
}
.star2 {
    height: 30px;
    width: 30px;
  transform: translate(20vh, 23vh );
}
.star3 {
    height: 30px;
    width: 30px;
  transform: translate(0vh, 19vh );
}
.star4 {
    height: 20px;
    width: 20px;
  transform: translate(30vh, 15vh );
}
.star5 {
    height: 30px;
    width: 30px;
  transform: translate(45vh, 10vh );
}
.star6 {
    height: 60px;
    width: 40px;
  transform: translate(-20vh, 57vh );
}
.star7 {
    height: 30px;
    width: 30px;
  transform: translate(90vh, 14vh );
}
.star8 {
    height: 30px;
    width: 30px;
  transform: translate(100vh, 10vh );
}
.star9 {
    height: 20px;
    width: 20px;
  transform: translate(120vh, 25vh );
}
.star10 {
    height: 30px;
    width: 30px;
  transform: translate(100vh, 16vh );
}
.star11 {
    height: 10px;
    width: 10px;
  transform: translate(119vh, 40vh );
}
.star12 {
  height: 60px;
  width: 40px;
  transform: translate(114vh, 16vh );
}
.star {
    height: 30px;
    width: 30px;
  transform: translate(90vh, 14vh );
}
/* Castle CSS End */





/* Landing page */
.landing-page {
  width: 100%;
  height: 100vh;
  background: url("Assets/BG/village.gif");
  background-size: cover;
  background-position: center;
  box-shadow: 0 60px 80px 0px black inset;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.video-title {
  color: white;
}
/* Video CSS */
.video-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#trailer {
  width: 65%;
  border: white solid 5px;
}
.custom-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 104px;
  cursor: pointer;
  padding: 20px;
  border: #ffffff solid 5px;
  border-radius: 20%;
  background-color: black;
  font-family: deltarune2;
  z-index: 1;
}
/* Video CSS END */


/* About section */
.about {
  /* background: url("Assets/BG/battle-bg.gif");
  background-size: cover;
  background-position: top; */
  margin: 10vh 0;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.about .square {
  position: absolute;
  height: 5vh;
  width: 5vh;
  border: #ffffff 2px solid;
}
.about .text {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
}
.about .text p {
  font-size: 1.6rem;
  width: 80%;
}
.img-container {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container img {
  height: 100%;
  width: auto;
}

/* kris-susie running */
.run {
  position: absolute;
  width: auto;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.run img {
  height: 100%;
  width: auto;
}

/* heart */
.heart {
  position: absolute;
  height: 10vh;
  width: 10vh;
  background-color: blue;
  
}


.animation-container {
  color: white;
  background-color: black;
  height: 700vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;

}
.animation-container .text {
  font-size: 5rem;
}
.animation-container .text1 {
  position: relative;
  z-index: 1;
  transform: translate(-50%, 0);
}
.animation-container .text2 {
  position: relative;
  z-index: 1;
  transform: translate(50%, 0);
}
.animation-container .text3 {
  position: relative;
  z-index: 1;
}
.animation-container .text4 {
  position: relative;
  z-index: 1;
}
.animation-container .fight {
  position: relative;
  width: 50vh;
  z-index: 3;
}
.animation-container .mercy {
  width: 50vh;
  z-index: 1;
}

.gallery {
  position: absolute;
  background-color: rgba(170, 47, 47, 0.435);
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  z-index: 0;

}
.gallery .frame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.gallery .frame #image1 {
  width: auto;
  height: 50vh;
  transform: translate(40%, -1000%);
}
.gallery .frame #image2 {
  width: auto;
  height: 50vh;
  transform: translate(40%, -900%);
}
.gallery .frame #image3 {
  
  width: auto;
  height: 50vh;
  transform: translate(90%, -800%);
}
.gallery .frame #image4 {
  
  height: auto;
  width: 100%;
  transform: translate(0, -200%);
  z-index: -1;
}



/* FEATURING */
.featuring {
  width: 100%;
  height: 80vh;
  background-color: white;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.featuring .boxing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.featuring .title {
  font-size: 2rem;
}

.featuring .boxing .gallery-container {
  background-color: rebeccapurple;
  width: 50%;
  height: 50%;
}

.featuring .list {
  text-align: right;
  list-style: none;
  margin: 0px 5vh;
  height: auto;
  width: 70%;
  color: #000000;
}




.download {
  position: relative;
  transform: translate(0%, -50%);
  width: 100%;
  background-color: blue;
  height: 50vh;
}


p {
  color: white;
  font-size: 20px;
}

footer {
  background-color: blue;
  width: 100%;
  height: 50vh;
}

.whitespace {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.whitespace2 {
  width: 100%;
  height: 50vh;
}

.whitespace3 {
  width: 100%;
  height: 25vh;
}

.whitespace4 {
  width: 100%;
  height: 15vh;
}

.whitespace5 {
  width: 100%;
  height: 10vh;
}